* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1C1C;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    /*Box Flex - Container*/
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    min-height: 100vh;       /* Define a altura mínima como 100% da altura da tela */
    margin: 0;            
}
span{
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

header {
    width: 100%;
    height: 132px;
    background-color: #181818;
    margin-bottom: 10px;  
    /* z-index: 9999;
    position: sticky;
    top: 0;
    left: 0; */
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 90px 0 0 280px;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente (opcional) */
}

nav ul li {
    float: left;
    text-transform: uppercase;
    list-style-type: none;
    padding: 1px 16px;
}

nav ul li a {
    display: block;
    color: #F7CD5D;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #F7CD5D;
    color: #181818;
    border-radius: 10px;
}

nav ul li a.active {
    background-color: #FFCA00;
    color: #181818;
}

#banner {
    width: 100%;
    height: 464px;
    margin: 0 auto;
    background: url(../images/banner01.png);
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section-01,
.section-02,
.section-03 {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding: 0 38px 0 38px;
}

.section-01 {
    margin-top: 30px;
}

.section-02 {}

.section-03 {
    height: 336px;
    background-color: #BCA78F;
}

.carvao {
    color: #181818;
}

.carvao2 {
    color: #1C1C1C;
}

.carvao3 {
    color: #545454;
}

.dourado {
    color: #F7CD5D;
}

.amarelo-coringa {
    color: #FFCA00;
}

.quasebranco {
    color: #FEFEFE;
}

.marrom1 {
    color: #7A5116;
}

.marrom2 {
    color: #BCA78F;
}

.verde {
    color: #A0A980;
}

.pos {
    position: relative;
    float: left;
}

.esp {
    margin-right: 22px;
}

.sessenta {
    width: 60%;
    margin-left: 40px;
}
/* .container {
    width: 100%;
    max-width: 1440px;
} */
.logo{
    margin: 14px 0 14px 90px;
}
.center{
    text-align: center;
}
button{
    font-size: 20px;
    text-align: center;
    background-color: #FFCA00;
    border: 0;
    padding: 10px 35px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    cursor: pointer;
}



/*Sobreposição BootStrap*/

.bg-light
 {
    background-color: #00000000 !important;
}

.navbar-light .navbar-nav .nav-link {
    color:#FFCA00;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link
 {
    background-color: #F7CD5D;
    color: #181818;
    border-radius: 10px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 280px;
    padding-top: 50px;
    margin-bottom: 0;
    list-style: none;
}



footer { 
    width: 100%;
    height: 100px;
    font-size: 14px;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente (opcional) */
    background-color: #181818;
}